body {
    background-color: darkgray;
    
}

header {
    padding: 20px;
    background-color: rgb(229, 224, 224);
    display: inline-block;
    text-align: center;
    background-image: url(../images/AdobeStock_117251294.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    margin: 5px;
}

nav {
    width: 120px;
    background-color: white;
    left: 0;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 30px;
    color: rgb(255, 254, 254);
}

button , .search-button , .saveButton {
    border-color: darkgray;
    border-style: solid;
    border-radius: 12px;
    background-color:  white;
    color: rgb(122, 153, 101);
    font-weight: bold;
    padding: 5px;
}

.split {
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
    margin-bottom: 100px;
}

.left {
    border-radius: 20px;
    left: 0;
    background-color: rgb(94, 168, 181);
    width: 47%;
}

label {
   font-size: 15px; 
   color: rgb(56, 55, 55);
   display: flex;
   flex-direction: column;
   margin-right: 30px;
   padding-right: 20px;
   text-align: center;
   margin-bottom: 15px;
}

input {
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 40px;
    width: 50%;
    height: 25px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgray;
    padding: 5px;
}

textarea {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgray;
    padding: 10px;
}

.right {
    border-radius: 20px;
    right: 0;
    background-color: rgb(122, 153, 101);
    width: 50%;
    
}

.card {
    width: 99.5%;
    /* height: 150px; */
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 12px;
}


.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

h3 {
    font-size: 18px;

}

.card-container {
    padding: 10px;
    line-height: 0.8;
    padding-top: 2px;
}

.cards {
    width: 99.5%;
    /* height: 150px; */
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 12px;
}

.cardPics {
    display: flex;
}

.recipeImg {
    display: flex;
    width: 250px;
    height: 220px;
}


.description {
    white-space: pre-wrap;
}

/* content centered */
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

/* footer {
    display: flex;
    background-color: white;
    overflow: hidden;
    z-index: 2;
    height: 50px;
    width: 100%;
    position:relative;
    bottom: 0;
    left: 0;
}

footer ul {
    list-style: none;
    text-align: center;
    z-index: 2;
}

footer nav ul li {
    padding: 5px;
    margin: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */



#sources-list {
    display: block;

}

.hidden {
    display: none;
}