

header {
    padding: 20px;
    background-color: rgb(229, 224, 224);
    display: inline-block;
    text-align: center;
    background-image: url(/images/AdobeStock_117251294.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    width: 75%;
}

.split {
    
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
    margin-bottom: 20px;
}

.left {
    border-radius: 20px;
    left: 0;
    background-color: tan;
    width: 50%;
}

.right {
    border-radius: 20px;
    right: 0;
    background-color: rgb(167, 167, 253)
    
}

.card {
    width: 99.5%;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

h3 {
    font-size: 22px;
}

.card-container {
    padding: 10px;
}


.description {
    white-space: pre-wrap;
}

/* content centered */
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

footer {
    background-color: white;
    overflow: hidden;
    z-index: 2;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer ul {
    list-style: none;
    text-align: center;
    z-index: 2;
}

footer nav ul li {
    align-content: center;
    padding: 5px;
    margin: 5px;
    
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

